<table class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_fixed-layout">
    <thead>
      <tr class="slds-line-height_reset">
        <th class="slds-text-title_caps">Name</th>
        <th class="slds-text-title_caps">Stage</th>
        <th class="slds-text-title_caps">Close Date</th>
        <th class="slds-text-title_caps slds-text-align_right">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let opp of opportunities" class="slds-hint-parent">
        <td>
          <div class="slds-truncate" title="{{ opp.name }}">{{ opp.name }}</div>
        </td>
        <td>
          <div class="slds-truncate" title="{{ opp.stageName }}">{{ opp.stageName }}</div>
        </td>
        <td>
          <div class="slds-truncate" title="{{ opp.closeDate }}">{{ opp.closeDate | date }}</div>
        </td>
        <td class="slds-text-align_right">
          <div class="slds-truncate" title="{{ opp.amount | currency }}">{{ opp.amount | currency }}</div>
        </td>
      </tr>
    </tbody>
  </table>
  
