<lightning-card title="Opportunity Search">
  <div class="slds-grid slds-gutters">
    <div class="slds-col slds-size_2-of-4">
      <label class="slds-form-element__label slds-no-flex">Search Opportunity by Name</label>
      <input
        type="text"
        class="slds-input"
        [(ngModel)]="searchTerm"
        (input)="onInputChange()">
    </div>
    <div class="slds-col slds-size_1-of-4">
      <label class="slds-form-element__label slds-no-flex">Min Amount</label>
      <input
        type="number"
        class="slds-input"
        [(ngModel)]="minAmount"
        (input)="onInputChange()">
    </div>
    <div class="slds-col slds-size_1-of-4">
      <label class="slds-form-element__label slds-no-flex">Max Amount</label>
      <input
        type="number"
        class="slds-input"
        [(ngModel)]="maxAmount"
        (input)="onInputChange()">
    </div>
  </div>
  <lightning-datatable *ngIf="opportunitiesFound" [opportunities]="opportunities"></lightning-datatable>
</lightning-card>
